<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生成身份证号码</title>
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    {% csrf_token %}
    <select name="province" id="province">
        <option value="省级行政区划">--省级行政区划--</option>
        {% for prov in province_info_list %}
        <option value={{prov.province_name}}>{{prov.province_name}}</option>
        {% endfor %}
    </select>
    <select id="city">
        <option value="地级行政区划">--地级行政区划--</option>
    </select>
    <select id="county">
        <option value="县级行政区划">--县级行政区划--</option>
    </select>
    <br/>
    <label>性别</label>
    <select id="sex">
        <option value="male">男性</option>
        <option value="female">女性</option>
    </select>
    <br/>
    <label>出生日期，格式为YYYYMMDD【如19990108】</label>
    <input type="type" id="birthday_code" maxlength="8" minlength="8">
    <input type="submit" value="开始生成身份证号码">
    <br/>
    <input type="type" id="id_quantity" max="10">
    <button id="build">构建</button>
    <script>
        $.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
        })
    </script>
    {% load static %}
    <script type="text/javascript" language="JavaScript" charset="utf-8" src="{% static "js/build.js" %}"></script>
</body>
</html>