<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生成身份证号码</title>
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <form enctype="multipart/form-data" action="/id/get/" method="post">
        {% csrf_token %}
        <select name="province" id="province">
            <option value="省级行政区划">--省级行政区划--</option>
            {% for prov in province_info_list %}
            <option value={{prov.province_name}}>{{prov.province_name}}</option>
            {% endfor %}
        </select>
        <select name="city" id="city">
            <option value="地级行政区划">--地级行政区划--</option>
        </select>
        <select name="county" id="county">
            <option value="县级行政区划">--县级行政区划--</option>
        </select>
        <br/>
        <label>性别</label>
        <select name="sex" id="sex">
            <option value="male">男性</option>
            <option value="female">女性</option>
        </select>
        <br/>
        <label>出生日期，格式为YYYYMMDD【如19990108】</label>
        <input type="type" name="birthday_code" maxlength="8" minlength="8" pattern="[0-9]">
        <input type="submit" value="生成身份证号码">
        {% load static %}
        <script type="text/javascript" language="JavaScript" charset="utf-8" src="{% static "js/build.js" %}"></script>
    </form>
</body>
</html>