<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生成身份证号码</title>
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" language="JavaScript">
        $("#city").change(function(){
            var province=$(this).val();
            alert("操作省份变动");
        });
    </script>
</head>
<body>
    <form enctype="multipart/form-data" action="/id/get_id/">
        {% csrf_token %}
        <select name="province" id="province">
            <option value="省级行政区划">--省级行政区划--</option>
            {% for prov in province_info_list %}
            <option value={{prov.province_name}}>{{prov.province_name}}</option>
            {% endfor %}
        </select>
        <select name="city" id="city">
            <option value="地级行政区划">--地级行政区划--</option>
            <option value="1">--A--</option>
            <option value="2">--B--</option>
        </select>
        <select name="county" id="county">
            <option value="县级行政区划">--县级行政区划--</option>
        </select>
        <input type="submit" value="生成身份证号码">
    </form>
</body>
</html>